# Python
backend/__pycache__/
backend/*.pyc
backend/venv/

# Banco local
backend/escola.db

# Variáveis de ambiente
backend/.env
.env
frontend/.env.local

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Outros
.DS_Store
Thumbs.db
.antigravity-rules.md
backend/fotos/